<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/post.css">

    <title>ambirdsall<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
    <header>
      <div class="titles">
        <h1><%= current_article.title if current_article %></h1>

        <h2 class="titles__icon-bar">
          <a href="http://github.com/ambirdsall"><span class="icon icon-github"></span></a>
          <a href="http://twitter.com/gobslapped"><span class="icon icon-twitter"></span></a>
          <a href="http://linkedin.com/in/ambirdsall"><span class="icon icon-linkedin"></span></a>
        </h2>
      </div>
    </header>

    <article>
      <%= yield %>
    </article>

    <footer>
      <div class="titles">
        <p>
          <%= link_to 'read other stuff', '/' %><br>
          made with loaf by ambirdsall
        </p>
      </div>
    </footer>
  </body>
</html>
